.valuesSection {
  background-color: #0b0b0b;
  padding: 80px 0;
  direction: rtl;
  color: #fff;
  border-bottom: 1px solid #222; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.header {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.pipe {
  color: #fd7e14;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
}

.subtitle {
  color: #a0a0a0;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background-color: #111;
  border: 1px solid #222;
  border-radius: 16px;
  padding: 40px 25px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  border-color: #fd7e14;
  transform: translateY(-5px);
  background-color: #2D2214;
}

.icon {
  font-size: 2.5rem;
  color: #fd7e14;
  margin-bottom: 20px;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.cardDesc {
  font-size: 0.9rem;
  color: #888;
  line-height: 1.6;
}